.app-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 22222;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  background: #000000;
  padding: 0 50px;

  @media (max-width: 1024px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 600px) {
    padding: 0rem 1rem;
  }

  main {
    padding: 1rem 0;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;

    .logo {
      overflow: hidden;
      padding: 0;

      svg {
        width: 140px;
      }

      @media (max-width: 1124px) {
        svg {
          width: 120px;
        }
      }
      @media (max-width: 768px) {
        justify-content: flex-start;
        svg {
          width: 120px;
        }
      }
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 36px;
      position: absolute;
      right: 50%;
      transform: translate(50%);

      @media (max-width: 1124px) {
        gap: 1rem;
      }

      @media (max-width: 768px) {
        display: none;
      }
      li {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;

        a,
        span {
          color: #eaeaea;
          font-family: var(--font-inter);
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }

    .cta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      gap: 10px;
      height: 49px;
      background: #ffffff;
      border-radius: 60px;
      overflow: hidden;

      @media (max-width: 768px) {
        padding: 4px 6px;
        margin-left: auto;
        margin-right: 1rem;
        height: 36px;
      }
    }

    .hamburger {
      display: none;

      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

// .mobile-nav-container {
//   display: none;

//   &.open {
//     display: block;
//     position: fixed;
//     top: 100px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: rgba(0, 0, 0, 0.9);
//     z-index: 222222;
//     overflow-y: auto;
//   }
// }

// .mobile-nav {
//   padding: 80px 24px 24px;
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
// }

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

