.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  background: #020101;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  z-index: 2222;
}

.ticker {
  display: flex;
  width: fit-content;
  animation: scroll 25s linear infinite;

  .ticker-item {
    min-width: 320px;
    width: 100%;
    background-color: #020101;
    color: #e0dfff;
    text-align: center;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 1rem 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);

    @media (max-width: 768px) {
      min-width: 200px;
      gap: 36px;
      padding: 12px 1rem;
    }

    .coin-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: max-content;

      .symbol {
        font-family: var(--font-red-hat-text);
        font-family: 14px;
        font-weight: 400;
        color: #e6dafe;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      label {
        font-family: var(--font-red-hat-text);
        color: rgba(230, 218, 254, 0.64);
        font-size: 13;
        font-weight: 400;

        @media (max-width: 768px) {
          font-size: 10px;
        }
      }
    }

    .price-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .price {
        font-family: var(--font-red-hat-text);
        color: #e6dafe;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0.2rem;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      .change {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4px;
        font-family: 'Red Hat Mono', monospace;
        font-size: 12px;

        &.positive {
          color: #00e676;
        }

        &.negative {
          color: #ff5252;
        }

        .change-arrow {
          font-size: 12px;
        }
      }
    }
  }

  .up-arrow {
    margin-right: 0.25rem;
  }
}

.ticker:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
