.news-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 150px 50px;
  padding-bottom: 250px;

  @media (max-width: 1024px) {
    padding: 200px 1.5rem;
  }

  @media (max-width: 600px) {
    padding: 100px 1rem;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    .blog-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .pill {
      padding: 8px 16px;
      background: linear-gradient(90deg, #fbe8df 0%, #dee9fa 100%);
      color: #121212;
      border-radius: 100px;
      font-size: 14px;
      border: none;

      @media (max-width: 600px) {
        font-size: 12px;
        padding: 4px 8px;
      }
    }
    .title {
      font-family: 'BIZ UDMincho';
      font-size: 2.5rem;
      font-weight: 500;
      margin-top: 1rem;

      @media (max-width: 600px) {
        font-size: 2rem;
      }
    }

    .view-all {
      display: flex;
      margin-bottom: 0.8rem;
      a {
        color: #ccc;
        font-size: 0.9rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
        span {
          padding: 0.4rem;
          background: #fff;
          border-radius: 50%;
        }
        svg {
          color: #ccc;
        }
      }
    }
  }
  main {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    .blog-cards {
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
      gap: 2rem;
      overflow: hidden;

      @media (max-width: 1024px) {
        gap: 3rem;
      }
      @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
