.why-oracle-section {
  background-color: #ffffff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 150px 50px;

  @media (max-width: 1024px) {
    padding: 150px 1.5rem;
  }

  @media (max-width: 600px) {
    padding: 120px 1rem;
  }

  .section-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }

  .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      font-family: 'BIZ UDMincho';
      font-size: 2.5rem;
      font-weight: bold;
      color: #000000;

      @media (max-width: 600px) {
        font-size: 2rem;
      }
    }

    .pill {
      padding: 8px 16px;
      background: linear-gradient(90deg, #fbe8df 0%, #dee9fa 100%);
      color: #121212;
      border-radius: 100px;
      font-size: 14px;
      border: none;
      cursor: pointer;

      @media (max-width: 600px) {
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }

  .cards-grid {
    margin-top: 100px;
    display: flex;
    gap: 1.5rem;

    @media (max-width: 1124px) {
      gap: 1rem;
    }
    @media (max-width: 1024px) {
      flex: 3fr 1fr 1fr;
      flex-wrap: wrap;
    }
    @media (max-width: 600px) {
      margin-top: 50px;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .card {
      padding: 32px;
      border-radius: 16px;
      overflow: hidden;

      @media (max-width: 1124px) {
        padding: 1.5rem;
      }
      @media (max-width: 768px) {
        padding: 1rem;
      }
      @media (max-width: 600px) {
        padding: 2rem 1.5rem;
      }
      .card-icon {
        width: 46px;
        height: 46px;
        background: #d1d1d1;
        border-radius: 8px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card-title {
        font-family: 'BIZ UDMincho';
        font-size: 20px;
        margin-bottom: 12px;
        overflow: hidden;

        @media (max-width: 768px) {
          font-size: 18px;
          margin-bottom: 8px;
        }
      }

      .card-description {
        font-size: 14px;
        font-weight: 400;
        color: #5b5b5b;
        overflow: hidden;
      }
    }

    .row-1 {
      flex-basis: 33.333%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @media (max-width: 1124px) {
        gap: 1rem;
      }
      @media (max-width: 1024px) {
        flex-basis: 100%;
        flex-direction: row;
      }
      @media (max-width: 600px) {
        flex-direction: column;
      }
      .stablecoins-card {
        background-color: #f6f6f6;
        flex-basis: 50%;

        .card-icon {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(211, 124, 64, 0.13) 100%
          );
        }
      }
      .offchain-card {
        flex-basis: 50%;
        background: linear-gradient(180deg, #f6f6f6 0%, #f8f4ff 100%);

        .card-icon {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(180, 137, 255, 0.13) 100%
          );
        }
      }
    }

    .row-2 {
      flex-basis: 33.333%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @media (max-width: 1124px) {
        gap: 1rem;
      }
      @media (max-width: 1024px) {
        flex-basis: 50%;
      }

      .automation-card {
        flex-basis: 70%;
        background-color: #000000;
        display: flex;
        flex-direction: column;

        @media (max-width: 1024px) {
          flex-basis: 75%;
        }
        @media (max-width: 768px) {
          flex-basis: 80%;
        }
        .card-icon {
          background: rgba(255, 255, 255, 0.12);
          min-height: 86px;
          min-width: 86px;

          @media (max-width: 768px) {
            min-height: 64px;
            min-width: 64px;

            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
        .card-title {
          color: #ffffff;
          margin-top: auto;
        }

        .card-description {
          color: rgba(255, 255, 255, 0.8);
        }
      }

      .multichain-card {
        flex-basis: 30%;
        background: linear-gradient(90deg, #f7e9e3 21.05%, #e6dafe 103.73%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 1024px) {
          flex-basis: 25%;
        }

        @media (max-width: 768px) {
          flex-basis: 20%;
        }

        .card-title {
          font-family: 'BIZ UDMincho';
          font-style: normal;
          font-size: 48px;
          line-height: normal;
          letter-spacing: -1.92px;
          color: #000000;
          margin: auto 0;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          @media (max-width: 1024px) {
            font-size: 40px;
          }

          @media (max-width: 768px) {
            font-size: 32px;
            letter-spacing: -1.28px;
          }

          .multichain-text-wrapper {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 12px;
            width: fit-content;
            animation: scroll 4s ease-in-out infinite;

            @media (max-width: 600px) {
              animation: scroll 4s linear infinite;
            }
            .multichain-text-item {
              width: 100%;
              max-width: fit-content;
            }
          }
        }
      }
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .auditable-card {
      flex-basis: 33.3333%;
      background: linear-gradient(180deg, #f6f6f6 0%, #f7e9e3 100%);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      position: relative;

      @media (max-width: 1024px) {
        flex: 1;
      }

      @media (max-width: 600px) {
        flex-basis: 100%;
        padding-top: 200px;
      }

      .card-icon {
        position: absolute;
        width: 100px;
        height: 100px;
        left: calc(50% - 100px / 2);
        top: 163.61px;

        background: #ffffff;
        box-shadow: 0px 17px 22.1px #ffeadb;
        border-radius: 17.3913px;

        @media (max-width: 1024px) {
          top: 20%;
        }

        @media (max-width: 768px) {
          width: 80px;
          height: 80px;
        }
      }

      .card-title {
        margin-top: auto;
        text-align: center;
      }
      .card-description {
        margin-bottom: 24px;
        color: #5b5b5b;
        text-align: center;
      }
    }
  }
}

.stablecoins-card {
  background-color: #f6f6f6;
}
